#############################################
#           init.insmod.touch.cfg           #
# This file contains touch modules to load  #
# at init time by init.insmod.sh script     #
#############################################

# Load touch modules here, add your KO behind
modprobe|tui-common.ko
modprobe|ts_scp_common.ko
modprobe|fts_touch_i2c.ko
modprobe|xiaomi_tp.ko
modprobe|lct_tp.ko
